<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ planta.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="planta">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ planta.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ planta.nombreCientifico }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-img [src]="planta.imagen" alt="{{ planta.nombre }}"></ion-img>
      
      <p>Categoría: {{ planta.categoria }}</p>
      <a [href]="planta.link" target="_blank">Más información</a>

      <ion-card-header>
        <ion-card-title>Preguntas frecuentes</ion-card-title>
      </ion-card-header>

      <ion-list>
        <ion-item *ngFor="let faq of faqs">
          <ion-label>
            <h2>{{ faq.question }}</h2>
            <p>{{ faq.answer }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>