<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="plantas.length > 0">
    <ion-list>
      <ion-item *ngFor="let planta of plantas" (click)="redirectDetail(planta.id)" >
        <ion-thumbnail slot="start">
          <img [src]="planta.imagen" alt="Imagen de {{planta.nombre}}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ planta.nombre }}</h2>
          <p>{{ planta.nombreCientifico }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más plantas..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
