<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PlantyApp
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  
  <!-- Logo en la parte superior -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="sm" class="logo-container">
      <img src="../../assets/images/planty-logo.png" class="logo" alt="Logo de la app">
    </ion-col>
  </ion-row>

  <!-- Botón flotante de la cámara centrado en la pantalla -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center" class="fab-container">
    <ion-fab-button (click)="tomarFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Texto debajo del botón flotante -->
  <div class="scan-text">
    <p>¡Escanea y aprende sobre tus plantas!</p>
  </div>

</ion-content>
