<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="sm">
      <img src="https://placehold.co/200x200" alt="Logo de la app">
    </ion-col>
  </ion-row>

  <ion-content class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="sm">
        <ion-button (click)="myPlantsRedirect()">

          Mis Plantas (Vista 2)
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="sm">
        <ion-button (click)="catalogueRedirect()">
          Catálogo (Vista 3)
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="sm">
        <ion-button (click)="creditsRedirect()">

          Créditos (Vista 5)
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-content>

</ion-content>