<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Créditos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Créditos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Joel Guamaní</ion-card-title>
      <ion-card-subtitle>Developer</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Joel Guamaní es un desarrollador que actualmente está cursando su 3er año en Ingeniería de Computación en ESPOL.
    </ion-card-content>

    <div class="icon-container">
      <ion-icon name="logo-github" size="large" (click)="openUrl('https://github.com/isaiasgh')"></ion-icon>
      <ion-icon name="logo-linkedin" size="large"></ion-icon>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Andrés de Porras</ion-card-title>
      <ion-card-subtitle>Developer</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Andrés de Porras es un desarrollador que actualmente está cursando su 3er año en Ingeniería de Computación en ESPOL.
    </ion-card-content>

    <div class="icon-container">
      <ion-icon name="logo-github" size="large" (click)="openUrl('https://github.com/porrasmdz')"></ion-icon>
      <ion-icon name="logo-linkedin" size="large"></ion-icon>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Emilio Romero</ion-card-title>
      <ion-card-subtitle>Developer</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Emilio Romero es un desarrollador que actualmente está cursando su 3er año en Ingeniería de Computación en ESPOL.
    </ion-card-content>

    <div class="icon-container">
      <ion-icon name="logo-github" size="large" (click)="openUrl('https://github.com/emjorome')"></ion-icon>
      <ion-icon name="logo-linkedin" size="large"></ion-icon>
    </div>
  </ion-card>
</ion-content>
